src/main/app/implementation_deltaFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="get:/deltaFlights">
        <set-variable variableName="destination" value="#[message.inboundProperties.'http.query.params'.destination]" doc:name="destination Variable"/>
        <logger message="#[flowVars.destination]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.destination != empty]">
                <http:request config-ref="global-httpRequestConfig" path="/system_api/deltaFlightsByCode" method="GET" doc:name="delta Request By Code">
                    <http:request-builder>
                        <http:query-param paramName="destination" value="#[flowVars.destination]"/>
                    </http:request-builder>
                </http:request>
            </when>
            <otherwise>
                <http:request config-ref="global-httpRequestConfig" path="/system_api/deltaFlights" method="GET" doc:name="delta Request"/>
            </otherwise>
        </choice>
    </flow>
</mule>
